* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

h2 {
  text-align: center; }

.topnav {
  overflow: hidden;
  background-color: #e9e9e9; }
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; }
    .topnav a:hover {
      background-color: #ddd;
      color: black; }
  .topnav a.active {
    background-color: #2196f3;
    color: white; }
  .topnav .search-container {
    float: right; }
    .topnav .search-container a {
      float: right;
      padding: 6px;
      margin-top: 8px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer; }
      .topnav .search-container a:hover {
        background: #ccc; }
  .topnav input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none; }

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none; }
    .topnav .search-container a {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px; }
  .topnav a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 4px; }
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    border: 1px solid #ccc; } }

.divbody {
  padding: 25px;
  margin: 35px; }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  border-style: solid;
  border-color: black;
  margin-left: auto;
  margin-right: auto; }

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border-style: solid;
  border-color: black; }

th {
  border: 1px solid #dddddd;
  background-color: rgba(39, 43, 39, 0.15);
  text-align: left;
  padding: 8px;
  border-style: solid;
  border-color: black; }

tr:nth-child(even) {
  background-color: rgba(39, 43, 39, 0.15);
  border-style: solid;
  border-color: black; }

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 7px; }

.buttonDetail {
  background-color: blue;
  color: white;
  border: 2px solid #008cba; }
  .buttonDetail:hover {
    background-color: #008cba;
    color: black; }

.buttonEdit {
  background-color: red;
  color: white;
  border: 2px solid #f44336; }
  .buttonEdit:hover {
    background-color: #f44336;
    color: black; }

.buttonCreate {
  padding: 5px 5px;
  margin: 10px 10px;
  background-color: red;
  color: white;
  border: 2px solid #f44336; }
  .buttonCreate:hover {
    background-color: #f44336;
    color: black; }
