/* Clear floats after the columns */
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/* The Modal (background) */
/* Modal Content */
/* The Close Button */
.btn-primary-thao {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff; }

body {
  font-family: Arial, Helvetica, sans-serif; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; }

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }
  .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer; }
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer; }

* {
  margin: inherit;
  box-sizing: border-box;
  font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif; }

input[type="text"].thao {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; }

select.thao {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; }

textarea.thao {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; }

label.thao {
  padding: 5px 5px 5px 0;
  display: block; }

input[type="submit"].thao {
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  font-size: inherit;
  line-height: inherit; }

h2.thao {
  text-align: center;
  margin-bottom: 30px; }

.container-form-thao {
  margin-bottom: 5px;
  background-color: ghostwhite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  border: 1px solid #5a1d43 !important;
  border-color: #1757b8 !important; }

.row-thao:after {
  content: "";
  display: table;
  clear: both; }

@media screen and (max-width: 600px) {
  * {
    width: 100%; } }

@media screen and (min-width: 600px) {
  .container-form-thao {
    width: 600px; } }
